<div class="moderators-list-row-container p-h-md p-v-sm">
    <div class="moderator-name">
        {{#if fetchData.isRunning}}
            <div class="name--skeleton">
                {{#content-placeholders as |placeholder|}}
                    <div class="gravatar--skeleton">{{placeholder.img}}</div>
                    <div class="m-l-sm">{{placeholder.text lines=1}}</div>
                {{/content-placeholders}}
            </div>
        {{else}}
            <img class="hidden-xs" src={{user.links.profile_image}} height=40 width=40 alt="gravatar {{moderator.fullName}}">
            <img class="visible-xs" src="{{user.links.profile_image}}" height=25 width=25 alt="{{moderator.fullName}} gravatar">
            <div class="name p-l-sm">
                <a href="{{user.links.html}}">{{moderator.fullName}}</a>
            </div>
        {{/if}}
    </div>
    {{#if isAdmin}}
        {{#bs-dropdown classNames="role-dropdown" as |dd|}}
            {{#dd.button classNames="btn btn-default dropdown-button" disabled=disableRoleSelect}}
                {{roleLabel}}
                <span class="fa fa-caret-down p-l-xs"></span>
            {{/dd.button}}
            {{#dd.menu classNames="moderator-dropdown-menu" as |menu|}}
                {{#each roleOptions as |roleOption|}}
                    {{#menu.item}}
                        <button class="btn" {{action 'roleChanged' roleOption.role}}>
                            {{roleOption.label}}
                            <i class='{{if (eq role roleOption.role) 'fa fa-check selected' 'not-selected'}}'></i>
                        </button>
                    {{/menu.item}}
                {{/each}}
            {{/dd.menu}}
        {{/bs-dropdown}}
        <div class="row-controls">
            {{#if removeConfirmation}}
                <button class="btn btn-default" {{action 'cancel'}} disabled={{removeModerator.isRunning}}>
                    {{t 'global.cancel'}}
                </button>
                <button class="btn btn-danger m-l-xs" onclick={{perform deleteModerator moderator}} disabled={{deleteModerator.isRunning}}>
                    {{#if deleteModerator.isRunning}}
                        {{loading-btn-indicator}}
                    {{else}}
                        {{t 'global.remove'}}
                    {{/if}}
                </button>
            {{else if editConfirmation}}
                <button class="btn btn-default" {{action 'cancel'}} disabled={{editModerator.isRunning}}>
                    {{t 'global.cancel'}}
                </button>
                <button class="btn btn-success m-l-xs" onclick={{perform editModerator moderator role}} disabled={{editModerator.isRunning}}>
                    {{#if editModerator.isRunning}}
                        {{loading-btn-indicator}}
                    {{else}}
                        {{t 'global.save'}}
                    {{/if}}
                </button>
            {{else}}
                {{#if (and editingModerator disableRemove)}}
                    {{#bs-tooltip placement='left'}}
                        {{t 'components.moderatorList.editDisabledMessage'}}
                    {{/bs-tooltip}}
                {{else if (and disableAdminDeletion disableRemove)}}
                    {{#bs-tooltip placement='left'}}
                        {{t 'components.moderatorList.adminDisabledMessage'}}
                    {{/bs-tooltip}}
                {{/if}}
                <a role="button" class="remove-button {{if disableRemove 'disabled'}}" {{action 'removeInitiated'}}>
                    <i class="fa fa-times fa-lg "></i>
                </a>
            {{/if}}
        </div>
    {{/if}}
</div>
<div class="moderators-row-border"></div>
