<div class="content container">
    <div class="moderators-header moderators-row-container m-t-md">
        <div class="row-header p-l-md">{{t 'moderators.name'}}</div>
        {{#if isAdmin}}
            <div class="row-header">{{t 'moderators.permissions'}}</div>
            <button class="btn btn-default add-moderator-button m-r-md" {{action 'newModerator'}} disabled={{editingModerator}}>
                <i class="fa fa-plus p-r-xs"></i>
                {{t 'moderators.addNewMod'}}
            </button>
        {{/if}}
    </div>
    <div class="moderators-row-border"></div>
    {{#if fetchData.isRunning}}
        <div class="moderators-row-container moderators-row--skeleton p-h-md p-v-sm">
            <div class="name--skeleton">
                {{#content-placeholders as |placeholder|}}
                    <div class="gravatar--skeleton">{{placeholder.img}}</div>
                    <div class="m-l-sm">{{placeholder.text lines=1}}</div>
                {{/content-placeholders}}
            </div>
            {{#if isAdmin}}
                <div>
                    {{#content-placeholders as |placeholder|}}
                        <div class="dropdown--skeleton">{{placeholder.img}}</div>
                    {{/content-placeholders}}
                </div>
                <div class="remove-icon--skeleton">
                    {{#content-placeholders as |placeholder|}}
                        {{placeholder.icon}}
                    {{/content-placeholders}}
                </div>
            {{/if}}
        </div>
        <div class="moderators-row-border"></div>
    {{else if (not results.moderators)}}
        <p class="m-b-md m-t-md no-moderators-message">
            {{t 'getStartedIntro'}} <a>{{t 'getStartedAction'}}</a>!
        </p>
        <div class="moderator-row-border"></div>
    {{else}}
        {{#each results.moderators as |moderator|}}
            {{moderator-list-row
                moderator=moderator
                isAdmin=isAdmin
                disableAdminDeletion=disableAdminDeletion
                editingModerator=editingModerator
                updateModerator=updateModerator
                deleteModerator=deleteModerator
                roleOptions=roleOptions
            }}
        {{/each}}
        {{#if addingNewModerator}}
            {{moderator-list-add
                roleOptions=roleOptions
                editingModerator=editingModerator
                addingNewModerator=addingNewModerator
                addModerator=addModerator
                moderatorIds=moderatorIds
                loadingModerators=loadModerators.isRunning
            }}
        {{/if}}
        <div class="pull-right text-right">
            {{pagination-pager
                count=results.totalPages
                current=page
                change=(action 'pageChanged')
            }}
        </div>
    {{/if}}
    <div class="p-b-lg"></div>
</div>
